certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cwlgen==0.4.2
h11==0.12.0
idna==2.10
joblib==1.0.1
nodeenv==1.5.0
numpy==1.20.2
oyaml==1.0
pandas==1.2.3
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
ruamel.yaml==0.16.5
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
sklearn==0.0
starlette==0.14.2
threadpoolctl==2.1.0
urllib3==1.26.4
uvicorn==0.13.4
