body {
  background-color: #f5f6fc;
  font-family: 'Poppins', sans-serif!important;
}

a {
  cursor: pointer;
  font-weight:700;
  color: #17a2b8;
}

label {
  margin: 10px;
  cursor: pointer;
  width: 60px;
}

input[type=radio]:checked + label>svg {
  color: #17a2b8!important;
}

input[type=radio]:checked + label>div {
  color: #17a2b8!important;
}

/**/

.button {
  text-align: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 15px;
  background-color: #17a2b8;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 5px -5px rgba(0,0,0,.4);
  border-radius: 12px;
  font-weight: bold;
  line-height: 50px;
}

.a-button {
  color: #17a2b8 !important;
  text-transform: uppercase;
}

.title {
  height: 100%;
  background-color: #fafbfe;
  box-shadow: 0 3px 3px -3px rgba(0,0,0,.2);
  margin-bottom: 10px;
}

.highlight {
  color: #17a2b8;
  font-weight: bold;
}

.arrow {
  font-size: 50px;
  text-align: center;
  font-weight: normal;
}

.box {
  text-align: center;
  background-color: #fafbfe;
  box-shadow: 0 3px 3px -3px rgba(0,0,0,.2);
  border-radius: 5px;
  border: 1px solid #eff0f4;
}

.box>* {
  padding: 10px;
}

.pf {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: white;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

.restricted {
  display: none;
}

/**/

#pfnav {
  text-align: left;
  font-size: 15px;
}
