extends layout

block content
  div(class="container" style="padding-top: 20px;")
      each workflow in workflows
        div(class="row")
          div(class="col")
            p(style='white-space:pre;')
              a(href="/phenoflow/phenotype/download/" + workflow.id class="a-button") #{workflow.name}
              |  #{workflow.about}
