span(class="authentication")
  div(class="container" style="padding-top: 20px;")
    form
      +input("", "username", "Username", "")
      +input("", "password", "Password", "", "password", "current-password")
    a(onclick="login(); return false;" style="margin: 10px;" class="a-button", tabindex="0")
      | LOGIN
