doctype html
html
  head
    title= title
    meta(charset="UTF-8", name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="icon" href="/phenoflow/images/favicon.ico" type="image/x-icon" sizes="16x16")
    link(rel="stylesheet" href="/phenoflow/stylesheets/prism.css")
    script(src="/phenoflow/javascripts/prism.js")
  body
    pre
      code(class="language-" + language)
        | #{implementation}
