extends layout

block header
  | Portable workflow-based phenotype representation

block content
  div(class="container")
    p(style='white-space:pre;')
      div(class="row")
        p(style='white-space:pre;')
