extends layout

block preheader
  div(class="container")
    div(class="row align-items-center")
      div(class="col")
        h2(style="margin-top: 10px; margin-bottom: 10px;") #{title}
      div(class="col d-flex justify-content-center")
        a(href="/phenoflow/phenotype/download" class="a-button") VIEW AN EXAMPLE

block content

  div(class="container" style="margin-top: 100px;")
    div(class="row")
      div(class="col")
        h6 How do we achieve phenotype portability?

  div(class="container" style="margin-top: 20px;")
    div(class="row align-items-center")
      div(class="col")
        a(href="/phenoflow/phenotype/all/")
          img(src="/phenoflow/images/run.png" class="box")
      div(class="col index-box")
        | Download and immediately execute a phenotype against a local dataset.
    div(class="row")
      div()
        | &nbsp;
    div(class="row align-items-center")
      div(class="col")
        a(href="/phenoflow/phenotype/all/")
          img(src="/phenoflow/images/view.png" class="box")
      div(class="col index-box")
          | Browse phenotypes represented in a standard format. <a href="/phenoflow/phenotype/all/">#{count}</a> phenotypes are currently available.
    div(class="row")
      div()
        | &nbsp;
    div(class="row align-items-center")
      div(class="col")
        a(href="/phenoflow/phenotype/all/")
          img(src="/phenoflow/images/custom.png" class="box")
      div(class="col index-box")
        | Find and customise existing phenotypes, for local requirements.
    div(class="row")
      div()
        | &nbsp;
    div(class="row align-items-center")
      div(class="col")
        a(href="/phenoflow/phenotype/define")
          img(src="/phenoflow/images/define.png" class="box")
      div(class="col index-box")
        | Graphically author new phenotypes.
    div(class="row d-flex align-items-center")
      div(class="col d-flex align-items-center")
        p
          | Phenotype execution only has two dependencies: <a href="https://github.com/common-workflow-language/cwltool">cwltool</a> and <a href="https://docs.docker.com/get-docker/">docker</a>.
        p
          img(src="/phenoflow/images/run.gif")
  
  a(id="why")
  div(class="container" style="margin-top: 100px;")
    div(class="row")
      div(class="col")
        h6 Why does phenotype portability matter?

  div(class="container" style="margin-top: 20px;")
    div(class="row align-items-center")
      div(class="col")
        div(class="box d-flex justify-content-center  align-items-center" style="width:500px; height:300px")
          a(href="/phenoflow/phenotype/all/")
            | Re-use
      div(class="col index-box")
        | Re-defining phenotypes at new sites may lead to inconsistent definitions. Instead, we want to be able to port definitions between sites, as facilitated by Phenoflow. This is not to say a single gold standard algorithm is required for each disease, but instead different algorithms should be semantically interoperable. The level of abstraction provided by Phenoflow also ensures this.
    div(class="row")
      div()
        | &nbsp;
    div(class="row align-items-center")
      div(class="col")
        div(class="box d-flex justify-content-center  align-items-center" style="width:500px; height:300px")
          a(href="/phenoflow/phenotype/all/")
            | Reproducibility
      div(class="col")
          | With the extraction of phenotype cohorts now forming a key part of many research methodologies, the mechanism used to derive a cohort within a given study needs to be reusable in order to ensure reproducibility and thus incremental research. The reusable definitions hosted within Phenoflow enable this research.
    div(class="row")
      div()
        | &nbsp;
    div(class="row align-items-center")
      div(class="col")
        div(class="box d-flex justify-content-center  align-items-center" style="width:500px; height:300px")
          a(href="/phenoflow/phenotype/all/")
            | Validation
      div(class="col index-box")
        | Trust in a phenotype definition is increased by validating it against multiple data sources, such as EHR repositories. By integrating with multiple data source formats, such as i2b2 and OMOP, Phenoflow enables this validation to take place.

  div(class="container" style="margin-top: 20px;")
    div(class="row")
      div()
        | &nbsp;
    div(class="row ")
      div(class="col" style="text-align:center;")
        | Learn more
        <br />
        a(href="https://www.medrxiv.org/content/10.1101/2020.07.01.20144196v2")
          |  Phenoflow: A Microservice Architecture for Portable Workflow-based Phenotype Definitions
          |  (2021)
        <br />
        | Martin Chapman, Luke V Rasmussen, Jennifer A Pacheco, Vasa Curcin
