extends layout

block header
  | My Library

block content
  span(class="authentication")
    div(class="container" style="padding-top: 20px;")
      form
        +input("", "username", "Username", "")
        +input("", "password", "Password", "", "password", "current-password")
      a(onclick="login(); return false;" style="margin: 10px;" class="a-button")
        | LOGIN

  span(class="restricted")
    div(class="container")
      p(style='white-space:pre;')
      each workflow in workflows
        div(class="row")
          div(style='white-space:pre;')
            p(style='white-space:pre;')
              a(href="define/" + workflow.id class="a-button") #{workflow.name}
              |  #{workflow.about}
