extends layout

block header
  | My Library

block content
  div(class="container")
    p(style='white-space:pre;')
      each workflow in workflows
        a(href="define/" + workflow.id) #{workflow.name}
        |  #{workflow.about}
